
.footerContainer{
	background-color: #0d0909;
	display: flex;
	justify-content: end;
	align-items: flex-start;
    height: 350px;
	width: 100%;
	padding: 20px;
}

.footerColumn{
	padding: 16px 24px;
	display: flex;
	flex-direction:row;
	justify-content: left;
	align-items: left;
	margin: 0 auto;
  font-size: 1rem;
}

.icon{
	height: 45px;
	width: 70px;
	margin: 25px;
	display: inline-flex;
	justify-content: space-around;
	margin-top: 70px;
	padding-left: 10px;
}
.instagram{
	color:black;
}
.facebook{
	color:black;
}
.linkedin{
	color:black;
}
