.navbar {
    background-color: gray;
    display: flex;
    justify-content: center;
    position: fixed;
    transition: transform 100ms;
    height: 100px;
  }
  
  .navbar.move {
    transform: translateY(-8000px); 
  }
  
  .navlink {
    display: flex;
    margin-bottom: 120px;
  }
  
  @media screen and (max-width: 530px) {
    .navlink {
      position: absolute;
      top: 10px;
      left: 25px;
    }
  
    .desktop {
      display: none;
    }
  
    .img1 {
      width: 100%; /* Ajusta según tus necesidades */
      height: auto;
      margin: 0;
      position: absolute;
      top: 10px; /* Ajusta según tus necesidades */
      left: 50%; /* Centra horizontalmente */
      transform: translateX(-50%); /* Centra horizontalmente */
    }
  }