/* StyleRecords.css */

/* Estilos para el contenedor principal */
.maincontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    flex-direction: row; /* Cambiar la dirección a horizontal */
  }
  
  /* Estilos para cada tarjeta */
  .thecard {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  /* Estilos para el nombre de la empresa */
  .nombre {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para la carrera */
  .career {
    font-size: 1.2em;
    margin-bottom: 15px;
  }
  
  /* Estilos para la imagen del logo */
  .card-img-left {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 15px;
  }
  
  /* Estilos para el botón "Ver más" */
  .boton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton:hover {
    background-color: #0056b3;
  }
  