/* StyleRecords.css */

/* Estilos para el contenedor principal */
.maincontainer {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    padding: 45px;
    margin: 10px;
  }
  
  /* Estilos para cada tarjeta */
  .thecard {
    width: 450px; /* Aumento del ancho */
    max-width: 90%; /* Máximo ancho */
    height: auto;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15); /* Sombra más pronunciada */
    transition: transform 0.3s ease-in-out;
    margin: 25px; /* Mayor espacio alrededor de la tarjeta */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    justify-content: center; /* Centrar contenido verticalmente */
    background: #fff;
    font-size: 1em; /* Tamaño de fuente más pequeño */
    padding: 0.5rem;

  }
  
  .thecard:hover {
    transform: translateY(-5px);
  }
  
  /* Estilos para el contenido dentro de la tarjeta */
  .thecard-content {
    padding: 30px; /* Mayor espacio interior */
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar contenido horizontalmente */
    justify-content: center; /* Centrar contenido verticalmente */
    text-align: center; /* Centrar texto */
  }
  
  /* Estilos para el nombre de la empresa */
  .nombre {
    font-size: 1.6em; /* Texto más pequeño */
    font-weight: bold;
    margin-bottom: 16px; /* Mayor espacio entre elementos */
    color: #333;
    text-transform: uppercase;
  }
  
  /* Estilos para la carrera */
  .career {
    font-size: 1.2rem; /* Texto más pequeño */
    margin-bottom: 16px; /* Mayor espacio entre elementos */
    color: #555;
  }
  
  /* Estilos para la imagen del logo */
  .card-img-left {
  width: calc(100% - 60px); /* Ajuste para el margen */
  height: auto;
  border-radius: 12px;
  margin-bottom: 20px; /* Mayor espacio entre la imagen y el texto */
  margin-left: 30px; /* Margen izquierdo */
  margin-right: 30px; /* Margen derecho */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra para efecto de borde */
}
  
  /* Estilos para el botón "Ver más" */
  .boton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px; /* Ajuste del padding */
    border-radius: 8px; /* Borde más redondeado */
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.2em; /* Texto más pequeño */
    text-transform: uppercase;
    font-weight: bold; /* Texto en negrita */
    letter-spacing: 0.8px; /* Espaciado entre letras */
  }
  
  .boton:hover {
    background-color: #0056b3;
  }
  .titulo{
    color: white;
    padding-left: 45rem;
    padding-top: 2.5rem;
  }
  .fondo{   
    margin: 48px;
    background:
    radial-gradient(at right, #5a28cf, #352ace);
    width: 110rem;
    height: 10rem;
    box-shadow: 40px 40px 40px rgba(0, 0, 0, 0.15);
    border-radius: 1rem;

  }